<!DOCTYPE html>
<html>
<head>
  <title>Trivia</title>
  <script src="https://kit.fontawesome.com/8a2a68e2d5.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/icon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/protected.css">
</head>
<body>
  <div class="ranking-container">
    <div class="ranking beginner-ranking">
      <h3>Ranking Principiante</h3>
      <table>
        <thead>
          <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% beginner_ranking.each_with_index do |ranking, index| %>
            <% if ranking.user %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= ranking.user.username %></td>
                <td><%= ranking.score %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="ranking difficulty-ranking">
      <h3>Ranking Experto</h3>
      <table>
        <thead>
          <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% difficult_ranking.each_with_index do |ranking, index| %>
            <% if ranking.user %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= ranking.user.username %></td>
                <td><%= ranking.score %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h1>¡Hola <%= @username %>!</h1>
  <p>¡Que comience el juego!</p>
  <form id="trivia-form" method="post" action="/trivia">
    <h2>Selecciona la dificultad de la trivia</h2>
    <div class="button-container">
      <button class="button" name="difficulty" value="beginner">
        Principiante <i class="fa-regular fa-thumbs-up"></i>
      </button>
      <button class="button" name="difficulty" value="difficult">
        Experto <i class="fa-solid fa-brain"></i>
      </button>
    </div>
    <input type="hidden" name="selectedLanguageCode" id="selectedLanguageCode" value="">
    <input type="hidden" name="selectedLanguageName" id="selectedLanguageName" value="">
  </form>
  <form action="/claim" method="get">
    <button id="claim-button" type="submit">
      Reclamo <i class="fa-solid fa-user-nurse"></i>
    </button>
  </form>
  <form action="/" method="get">
    <button class="button" id="logout-button" type="submit">
      Salir <i class="fa-solid fa-right-to-bracket"></i>
    </button>
  </form>
</body>
</html>
